{{> header}}

<table width="100%" bgcolor="#ffffff">
  <tr>
    <td align="center" style="padding: 20px;">
      <h1>Welcome, {{name}}!</h1>
      <p>Thank you for joining us. We are excited to have you on board.</p>
      <p>Your username is: <strong>{{username}}</strong></p>
    </td>
  </tr>
</table>

{{> footer}}
